<div class="ui three column vertically padded grid">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    
    <div class="three column row">
        <div class="column"></div>
        <div class="column">
                <h1 class="ui huge center aligned header">Surf Buddy FAQ</h1>
                <h3 class="ui large center aligned header">no questions to show yet...</h3>
        </div>
        <div class="column"></div>
    </div>
    <div class=" three column row">
            <div class="column"></div>
            <div class="center aligned column">
                <p>Return to <a href="/">homepage</a></p>
            </div>
            <div class="column"></div>
        </div>
</div>