<div class="ui three column vertically padded grid" id="main-image">
    <!-- <div class="three column row">
            <div class="column"></div> -->
            <div class="column three center">
                <img src="/images/Goofy.png"
                    <h1 class="ui huge center aligned header">Surf Buddy</h1>
                <form class="ui fluid action input" method="get" action="/spots/search">
                    <input type="text" name="location" placeholder="Search For Spots!">
                    <button class="ui button" type="submit">Submit</button>
                </form>
            </div>
        </div>
</div>

