<div class="surf-background ui center aligned middle aligned grid">

<!-- <div class="ui center aligned basic segment">
    <img id="hero" src="/images/Surfing.png">
</div> -->

<div class="ui two column centered grid vertically padded>
    <div class="column style="max-width: 550px;">
        <h1 class="ui huge centered aligned header">Surf Buddy</h1>
        <form class="ui fluid action input" method="get" action="/spots/search">
            <input type="text" name="location" placeholder="Enter your city or address to search for spots">
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
</div>
</div>