<div class="ui center aligned basic segment">
    <img id="hero" src="/images/Surfing.png">
</div>

<div class="ui two column centered grid vertically padded">
    <div class="column">
        <h1 class="ui huge centered aligned header">Surf Buddy</h1>
        <form class="ui fluid action input" method="get" action="/spots/search">
            <input type="text" name="location" placeholder="Search For Spots!">
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
</div>