<!DOCTYPE html>
<html>
<head>
    <title>Surf Buddy</title>
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"> -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css" integrity="sha256-Z8Bv3UrxpRsWTfTPIjCojw5CdRNYSPw3TyxoU8WZSrM=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.js" integrity="sha256-/P4bJXh+K+kZ7M5aKUKxAcvN8105oYfKkQ2cgwVZ8r4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body> 
    <div class="ui secondary pointing menu">
            <a href="/" class="item">Home</a> 
            <a href="#" class="item">Spots</a> 
            <a href="#" class="item">FAQ</a> 
            <a href="#" class="item">About</a>
            <a href="#" class="item">Contact</a>
        <% if(isLoggedIn) { %>
            <span class="active item menu right">Logged in as: 
                <a href="/users/profile"> <%= currentUser.name %></a>
            </span>
        <% } else { %>
            <a href='/users/login' class="item">Log In</a>
            <a href='/users/signup' class="item">Sign Up</a>
        <% } %>    
    </div>
    
    <div class="container">
        <%- body %> 
    </div>
</body>
</html>