<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= user.name %></h1>
        <p class="lead">
            <%= user.email %>
            <a href="/users/logout" class="btn btn-warning btn-sm">Logout</a>
        </p> 
        <a href='/users/profile/edit' class="item">Edit User Info</a>
    </div>
</div>
    
<h2>Recent Posts</h2>