<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= user.name %></h1>
        <p class="lead">
            <%= user.email %> | <%= user._id %> 
            <a href="/users/logout" class="btn btn-warning btn-sm">Logout</a>
        </p>
    </div>
</div>
    
<h2>Recent Posts</h2>