
<ul class="counties list">
    <% counties.forEach((c) => { %>
      <li id="<%= c.slug %>"><a href"#"><%= c.name %></a></li>
    <% }) %>
</ul>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    
  </div>
  <div class="content list">
    
  
  </div>
  <div class="actions">
    
  </div>
</div>