
<ul class="counties list">
    <% counties.forEach((c) => { %>
      <li id="<%= c.slug %>"><%= c.name %></li>
    <% }) %>
</ul>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    
  </div>
  <div class="content list">
    
  
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>