
<h1>All da spotz</h1>

<li><%= spots[0].county_name %></li>
<% for (var i = 1; i < spots.length; i++) { %> 
  <% if(spots[i].county_name !== spots[i-1].county_name) { %>
  <li><%= spots[i].county_name %></li>
  <% } %>
<% } %> 